@import '~@fortawesome/fontawesome-free/css/all.css';

@import 'partials/commons';
@import 'partials/_header';



.jumbotron {
  height:340px;
  background-image: url("../../public/img/jumbotron.jpg");
  background-position: top;
  background-repeat: no-repeat;
}
